/*------------------------------------------------------------
Css of fatigue page
------------------------------------------------------------*/
.p-fatigue {
    &__about {
        padding: 82px 0 44px;
        @include breakpoint(sp) {
            padding: 40px 0 20px;
        }
        .c-text2 {
            margin-top: 23px;
            @include breakpoint(sp) {
                margin-top: 16px;
            }
        }
    }
    &__content{
        padding: 0 0 103px;
        @include breakpoint(sp){
            padding: 0 0 40px;
        }
        .c-ttl5{
            margin-bottom: 47px;
        }
        .c-text1{
            p{
                margin-top: 28px;
            }
        }
        .c-btn-contact{
            margin: 18px auto 0;
        }
    }
}