<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<div class="l-wrapper__content">
    <main class="p-clinic">
        <section class="c-mv1">
            <div class="l-container">
                <h2 class="c-ttl1">
                    院内紹介
                </h2>
            </div>
        </section>
        <div class="c-breadcrumb">
            <ol>
                <li>
                    <a href="./">
                        <span>HOME</span>
                    </a>
                </li>
                <li>
                    <p>
                        <span>院内紹介</span>
                    </p>
                </li>
            </ol>
        </div>
        <section class="p-clinic__content">
            <div class="l-content">
                <ul>
                    <li>
                        <div class="thumb">
                            <img src="assets/img/clinic/img01.png" alt="">
                        </div>
                        <h3 class="c-ttl3">
                            受付
                        </h3>
                        <p class="c-text1">
                            清潔感ある待ち合室は、待っている時間もリラックスして過ごしていただけます。 ご来院の際はまずこちらの受付でお手続きください。
                        </p>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="assets/img/clinic/img02.png" alt="">
                        </div>
                        <h3 class="c-ttl3">
                            バリアフリー設計
                        </h3>
                        <p class="c-text1">
                            当院はバリアフリー設計となっております。<br>
                            院内に段差がありませんので、車いすの方や高齢の方も安心してお越しください。
                        </p>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="assets/img/clinic/img03.png" alt="">
                        </div>
                        <h3 class="c-ttl3">
                            多機能心電計（解析機能付）
                        </h3>
                        <p class="c-text1">
                            心臓が動くときに発生する非常に弱い電流をグラフにする装置です。<br>
                            不整脈、狭心症、心筋梗塞、心臓病などの診断に重要なデータとなります。
                        </p>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="assets/img/clinic/img04.png" alt="">
                        </div>
                        <h3 class="c-ttl3">
                            □□□□□□□□□■
                        </h3>
                        <p class="c-text1">
                            □□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□
                        </p>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="assets/img/clinic/img05.png" alt="">
                        </div>
                        <h3 class="c-ttl3">
                            レントゲン室
                        </h3>
                        <p class="c-text1">
                            当院のレントゲン装置はデジタル撮影で高画質です。撮影するとフィルム現像しなくても、すみやかに診察室の画像専用モニタに表示されます。
                        </p>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <!--▲ Content are ▲-->
<%- include('inc/_footer'); %>