<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<div class="l-wrapper__content">
    <main class="p-fatigue">
        <section class="c-mv1">
            <div class="l-container">
                <h2 class="c-ttl1">
                    慢性疲労症候群
                </h2>
            </div>
        </section>
        <div class="c-breadcrumb">
            <ol>
                <li>
                    <a href="./">
                        <span>HOME</span>
                    </a>
                </li>
                <li>
                    <p>
                        <span>慢性疲労症候群</span>
                    </p>
                </li>
            </ol>
        </div>
        <section class="p-fatigue__about">
            <div class="l-container">
                <h3 class="c-ttl2">
                    ご存じですか？ <br class="sp-only">慢性疲労症候群
                </h3>
                <p class="c-text2 left">
                    検査では異常なし、でも、疲れて何もできない…ストレス過多の現代社会で「慢性疲労症候群」の患者数が徐々に増加してきています。
                </p>
            </div>
        </section>
        <section class="p-fatigue__content">
            <h3 class="c-ttl5">
                慢性疲労症候群を認識しよう
            </h3>
            <div class="l-content">
                <div class="c-text1">
                    <p>慢性疲労症候群は多くの人々、特に若年者を苦しめている重要な健康問題です。ストレス過多の現代社会で徐々に患者数が増加してきています。慢性疲労症候群は、疲れの原因がはっきりしている慢性疲労と区別されます。<span class="u-yellow">原因不明の激しい疲労感が6カ月以上</span>にわたって持続または繰り返し起こり、休息や睡眠をとっても十分な回復が得られない時、「慢性疲労症候群」という病気が疑われます。疲労のため、職場や学校へ行っても、ぼーっとして何もできなかったり（集中力低下）、さっき言われた事をすぐ忘れてしまったりします（短期記憶障害）。家に帰るとぐたーっと寝ているだけです。やる気はあるのに体が重く、咽頭痛、筋肉痛、関節痛、頭痛、睡眠障害などをしばしば伴います。うつ病とは区別されますが、楽しくないことから、悪化するとしばしば「うつ病」を合併します</p>
                    <p>受診し、検査などを受けても、貧血や心臓病、肝臓病、甲状腺疾患などの基礎疾患がなく、「異常ナシ」とされてしまうこともあります。慢性疲労症候群には、体質的異常（冷え性、内臓下垂体質、立ちくらみ、低血圧など）、自律神経障害、ウイルスの潜伏感染、代謝性異常、酸化ストレス、睡眠異常などを含めた脳生理学的諸問題など複雑な要因が関係していると言われており、詳細な病因の究明、治療法の確立が待たれています。現在、どの患者にも有効な治療法は見つかっていません。薬物治療、運動療法などを含めた、各個人の体質に合わせた治療法が工夫される必要があります。体質の改善には時間もかかります。<span class="u-yellow">慢性疲労にお悩みの方、また、慢性疲労症候群が疑われる方は、是非一度、専門医を受診することをお勧めします。</span></p>
                    <p>慢性疲労症候群の発症年齢は40歳以下の若年者が多く、男性より女性に多く発症します。なんとか働けるレベルから寝たきりに近い状態まで、重症度は様々です。1999年に厚生省が行った疲労の実態調査によれば、国民の3分の1が半年以上続く慢性的な疲労を感じ、慢性疲労症候群の診断基準に合致する人も、就業可能人口の0.3％に認められ、現在は、さらに増加しているものと思われます。発症のきっかけは、過労、引越しや就職、環境の変化、精神的ストレスの増加などさまざまです。「頑張りすぎない」が基本で、「みんな頑張っているのに」「どうしてあなただけできないの」は禁句です。患者は疲労のみならず、いろいろな症状を抱えています。休みを上手に取るには周囲の理解が必要です。慢性疲労症候群は個人だけの問題ではなく、職場、学校など社会全体の問題でもあります。</p>
                    <p>十分な休養に加え、睡眠の質を改善することも重要です。普段から水分を十分に補給し、朝食は抜かず、三食バランス良く食べることが大切です。運動は疲労に対する耐性をつけるのに有効です。精神的緊張の連続は疲労を倍加させます。音楽、アロマ、緑の香りなど、自分なりのリラックス法を見つけるのもお勧めです。</p>
                    <div class="c-btn-contact c-btn-contact--mode pdf">
                        <a href="assets/pdf/csf.pdf" target="_blank" class="pdf">
                            <span>慢性疲労症候群に関する出版一覧［PDF］</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--▲ Content are ▲-->
<%- include('inc/_footer'); %>