<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<div class="l-wrapper__content">
    <main class="p-greeting">
        <section class="c-mv1">
            <div class="l-container">
                <h2 class="c-ttl1">
                    ごあいさつ
                </h2>
            </div>
        </section>
        <div class="c-breadcrumb">
            <ol>
                <li>
                    <a href="./">
                        <span>HOME</span>
                    </a>
                </li>
                <li>
                    <p>
                        <span>ごあいさつ</span>
                    </p>
                </li>
            </ol>
        </div>
        <section class="p-greeting__intro">
            <div class="l-container">
                <div class="block1">
                    <h3 class="c-ttl3">
                        院長ごあいさつ
                    </h3>
                    <div class="c-imgtext">
                        <div class="c-imgtext__text">
                            <div class="c-ttl2 c-ttl2--fz2">
                                誠実な医療を心がけて努力していきます。
                            </div>
                            <p class="c-text2">
                                当クリニックでは、循環器内科・総合内科で培った経験と知識を基盤に、健康面から地域の皆様に少しでも貢献できればと考えております。<br>
                                又、高齢化社会に適合した地域医療の推進、更に「慢性疲労」など現代社会のストレス過多から生じる様々な身体的問題についても、積極的に取り組んで行きたいと思っております。<br>
                                スタッフ一同、誠実な医療を心がけて努力していく所存でございます。
                            </p>
                            <div class="sign">
                                <img src="assets/img/greeting/sign.svg" alt="院長　三羽　邦久">
                            </div>
                        </div>
                        <div class="c-imgtext__img">
                            <img src="assets/img/greeting/president.png" alt="院長　三羽　邦久">
                        </div>
                    </div>
                </div>
                <div class="block2">
                    <h4 class="c-ttl4">
                        院長プロフィール
                    </h4>
                    <p class="c-text2">
                        三羽  邦久（みわ くにひさ）
                    </p>
                    <div class="box">
                        <p class="c-text1">
                            昭和50年  京都大学医学部卒<br>
                            医学博士　循環器専門医<br>
                            【専門分野】内科、循環器内科、慢性疲労症候群<br>
                        </p>
                    </div>
                    <p class="c-text1">
                        もともとは狭心症が専門。心電図判読のエキスパート。生活習慣病が得意分野で禁煙指導など生活習慣の改善指導に熱心に取り組んできた。2004年浜松労災病院赴任時より総合内科に転進。ストレスの多い現代社会では慢性疲労に悩む人が多い事に気づく。慢性疲労症候群を中心に日常診療のかたわら研究活動。「慢性疲労症候群とスモールハート」「小心症候群は心臓病か？ 心の病か？」などのテーマで学会発表や講演活動。富山県人特有の粘り強さが身上。
                    </p>
                </div>
            </div>
        </section>
        <section class="p-greeting__policy" id="byGreePolicy">
            <div class="l-container">
                <h3 class="c-ttl3">
                    診療方針
                </h3>
                <div class="detail">
                    <div class="c-detail1" id="byMedical">
                        <div class="c-detail1__circle">
                            開業の理念
                        </div>
                        <div class="c-detail1__info">
                            <div class="c-ttl2 c-ttl2--fz2">
                                皆様の健康と日常生活の活動性を、<br>
                                総合的に長期的に支えていく医療を実践します。
                            </div>
                        </div>
                    </div>
                    <div class="c-detail1" id="byMedicalCont">
                        <div class="c-detail1__circle">
                            診療方針
                        </div>
                        <div class="c-detail1__info">
                            <ul>
                                <li>1．まず、身体の状態をしっかりと把握します。</li>
                                <li>2．個々の体質を考慮したオーダーメイド診療を行います。</li>
                                <li>3．QOL（生活の質）の向上とADL（日常の活動性）の維持が治療目的です。</li>
                                <li>4．生活改善を重視し、薬の投与は最小限に留めます。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-greeting__say">
            <div class="l-container inner">
                <h3 class="c-ttl4">
                    スタッフよりごあいさつ
                </h3>
                <p class="c-text1">
                    スタッフ一同、いつでも笑顔を絶やさずに、皆様のご来院をお待ちしております。ご不明な点や気になる点がございましたら、スタッフまで遠慮なくお問い合わせ下さい。
                </p>
                <div class="img01">
                    <img src="assets/img/greeting/team.png" alt="">
                </div>
            </div>
        </section>
    </main>
    <!--▲ Content are ▲-->
<%- include('inc/_footer'); %>