<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
    <div class="l-wrapper__content">
        <main class="p-top">
            <section class="c-mainvisual">
                <div class="image">
                    <img src="assets/img/top/main-img.jpg" alt="地域の皆様が健やかな日常生活を 過ごされるためのお手伝いを">
                </div>
                <h2 class="title">
                    <img src="assets/img/top/mv-tittle.svg" alt="地域の皆様が健やかな日常生活を 過ごされるためのお手伝いを" class="pc-only">
                    <img src="assets/img/top/mv-tittle-sp.svg" alt="地域の皆様が健やかな日常生活を 過ごされるためのお手伝いを" class="sp-only">
                </h2>
            </section>
        
            <section class="p-top1">
                <div class="l-wrap">
                    <div class="col1">
                        <h3 class="c-ttl1">
                            お知らせ
                        </h3>
                        <div class="c-listnews">
                            <ul>
                                <li>
                                    <div class="item">
                                        <div class="timeCat">
                                            <span class="green">
                                                休診案内
                                            </span>
                                            <time datetime="2022.00.0">
                                                2022.00.0
                                            </time>
                                        </div>
                                        <div class="expand">
                                            7月1日（金）都合により休診いたします。
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="timeCat">
                                            <span class="persian-green">
                                                お知らせ
                                            </span>
                                            <time datetime="2022.00.0">
                                                2022.00.0
                                            </time>
                                        </div>
                                        <div class="expand">
                                            診療時間変更のお知らせ<br>
                                            インフルエンザワクチン集団接種出張のため、<br class="pc-only">
                                            12月１日（水） 午後診  16時30分開始となります。
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="timeCat">
                                            <span class="green">
                                                休診案内
                                            </span>
                                            <time datetime="2022.00.0">
                                                2022.00.0
                                            </time>
                                        </div>
                                        <div class="expand">
                                            日本疲労学会出席のため、6月10日（金）午後と11日（土） 休診致します。
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="timeCat">
                                            <span class="green">
                                                休診案内
                                            </span>
                                            <time datetime="2022.00.0">
                                                2022.00.0
                                            </time>
                                        </div>
                                        <div class="expand">
                                            日本循環器学会出席のため、 ３月１１日（金）、3月12日（土）　休診致します。
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="timeCat">
                                            <span class="green">
                                                休診案内
                                            </span>
                                            <time datetime="2022.00.0">
                                                2022.00.0
                                            </time>
                                        </div>
                                        <div class="expand">
                                            日本循環器学会出席のため、 ３月１１日（金）、3月12日（土）　休診致します。
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="timeCat">
                                            <span class="green">
                                                休診案内
                                            </span>
                                            <time datetime="2022.00.0">
                                                2022.00.0
                                            </time>
                                        </div>
                                        <div class="expand">
                                            日本循環器学会出席のため、 ３月１１日（金）、3月12日（土）　休診致します。
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="timeCat">
                                            <span class="green">
                                                休診案内
                                            </span>
                                            <time datetime="2022.00.0">
                                                2022.00.0
                                            </time>
                                        </div>
                                        <div class="expand">
                                            日本循環器学会出席のため、 ３月１１日（金）、3月12日（土）　休診致します。
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="timeCat">
                                            <span class="green">
                                                休診案内
                                            </span>
                                            <time datetime="2022.00.0">
                                                2022.00.0
                                            </time>
                                        </div>
                                        <div class="expand">
                                            日本循環器学会出席のため、 ３月１１日（金）、3月12日（土）　休診致します。
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="timeCat">
                                            <span class="green">
                                                休診案内
                                            </span>
                                            <time datetime="2022.00.0">
                                                2022.00.0
                                            </time>
                                        </div>
                                        <div class="expand">
                                            日本循環器学会出席のため、 ３月１１日（金）、3月12日（土）　休診致します。
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="timeCat">
                                            <span class="green">
                                                休診案内
                                            </span>
                                            <time datetime="2022.00.0">
                                                2022.00.0
                                            </time>
                                        </div>
                                        <div class="expand">
                                            日本循環器学会出席のため、 ３月１１日（金）、3月12日（土）　休診致します。
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="c-btn1">
                            <a href="news.html">
                                <span>
                                    お知らせ一覧
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
                                        <path id="Icon_metro-arrow-right" data-name="Icon metro-arrow-right" d="M13.206,17.491l5-5a1,1,0,0,0,0-1.414l-5-5a1,1,0,0,0-1.414,1.414l3.293,3.293H5.5a1,1,0,0,0,0,2h9.586l-3.293,3.293a1,1,0,0,0,1.414,1.414Z" transform="translate(-4.499 -5.784)" fill="#8cb80c"/>
                                    </svg>                                 
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col1">
                        <h3 class="c-ttl1">
                            ご来院の方へ
                        </h3>
                        <div class="c-info1">
                            <table class="c-tbl1">
                                <tr>
                                    <th>診療時間</th>
                                    <th>月</th>
                                    <th>火</th>
                                    <th>水</th>
                                    <th>木</th>
                                    <th>金</th>
                                    <th>土</th>
                                    <th>日・祝</th>
                                    
                                </tr>
                                <tr>
                                    <td>8：30～12：30</td>
                                    <td>●</td>
                                    <td>●</td>
                                    <td>●</td>
                                    <td>●</td>
                                    <td>●</td>
                                    <td>●</td>
                                    <td>–</td>
                                    
                                </tr>
                                <tr>
                                    <td>14：30～18：30</td>
                                    <td>●</td>
                                    <td>●</td>
                                    <td>●</td>
                                    <td>–</td>
                                    <td>●</td>
                                    <td>–</td>
                                    <td>–</td>
                                </tr>
                            </table>
                            <div class="parking">
                                <p>
                                    富山県富山市新富町1丁目4-3 三羽ビル2階
                                    JR富山駅南口から徒歩４分
                                </p>
                                <ul>
                                    <li>駐車場</li>
                                    <li>6台</li>
                                </ul>
                            </div>
                            <dl>
                                <dt>診療日</dt>
                                <dd>月曜日～土曜日</dd>
                                <dt>休診日</dt>
                                <dd>木曜午後 ／ 土曜午後 ／ 日曜・祝日</dd>
                                <dt>診療時間</dt>
                                <dd>
                                    8：30～12：30（受付は12：00まで）<br>
                                    14：30～18：30（受付は18：00まで）
                                </dd>
                            </dl>
                        </div>
                        <a href="info.html#af-consul" target="_blank" class="c-link1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
                                <path id="Icon_metro-arrow-right" data-name="Icon metro-arrow-right" d="M13.206,17.491l5-5a1,1,0,0,0,0-1.414l-5-5a1,1,0,0,0-1.414,1.414l3.293,3.293H5.5a1,1,0,0,0,0,2h9.586l-3.293,3.293a1,1,0,0,0,1.414,1.414Z" transform="translate(-4.499 -5.784)" fill="#8cb80c"/>
                            </svg>
                            診療時間外対応について
                        </a>
                        <ul class="c-list1">
                            <li>
                               <a href="https://goo.gl/maps/CySh5bBHBC8zAgPf9" target="_blank">
                                    <div class="icon">
                                        <img src="assets/img/top/path1.svg" alt="アクセスマップ">
                                    </div>
                                    <div class="txt">
                                        アクセスマップ
                                    </div>
                               </a>
                            </li>
                            <li>
                                <a href="info.html#byReservation">
                                    <div class="icon">
                                        <img src="assets/img/top/path2.svg" alt="予約について">
                                    </div>
                                    <div class="txt">
                                        予約について
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="info.html#byPatient">
                                    <div class="icon">
                                        <img src="assets/img/top/path3.svg" alt="初めて受診される方へ">
                                    </div>
                                    <div class="txt">
                                        初めて受診される方へ
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="info.html#byChronic">
                                    <div class="icon">
                                        <img src="assets/img/top/path4.svg" alt="慢性疲労症候群・起立不耐性の患者様へ">
                                    </div>
                                    <div class="txt">
                                        慢性疲労症候群・<br class="pc-only">起立不耐性の患者様へ
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <a href="#byInfectious" class="c-link1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
                                <path id="Icon_metro-arrow-right" data-name="Icon metro-arrow-right" d="M13.206,17.491l5-5a1,1,0,0,0,0-1.414l-5-5a1,1,0,0,0-1.414,1.414l3.293,3.293H5.5a1,1,0,0,0,0,2h9.586l-3.293,3.293a1,1,0,0,0,1.414,1.414Z" transform="translate(-4.499 -5.784)" fill="#8cb80c"/>
                            </svg>
                            新型コロナウイルス感染症対策について
                        </a>
                    </div>
                </div>
            </section>
            <section class="p-top2">
                <div class="l-container">
                    <h3 class="c-ttl1">
                        当院について
                    </h3>
                    <div class="c-ttl2">
                        お子様からご高齢の方まで<br class="bf-tab">地域の「かかりつけ医」
                    </div>
                    <p class="c-text2">
                        循環器関連疾患をはじめとした内科疾患一般を中心に、皆様の健康と日常生活の活動性を総合的に長期的に支えていく医療を実践します。
                    </p>
                    <ul class="c-list2">
                        <li>
                            <div class="icon">
                                <img src="assets/img/top/icon1.svg" alt="内科・循環器内科">
                            </div>
                            <div class="txt">
                                内科・循環器内科
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/img/top/icon2.svg" alt="健康・医療相談">
                            </div>
                            <div class="txt">
                                健康・医療相談
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/img/top/icon3.svg" alt="往診在宅ケア">
                            </div>
                            <div class="txt">
                                往診在宅ケア
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/img/top/icon4.svg" alt="禁煙治療">
                            </div>
                            <div class="txt">
                                禁煙治療
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/img/top/icon5.svg" alt="慢性疲労症候群">
                            </div>
                            <div class="txt">
                                慢性疲労症候群
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/img/top/icon6.svg" alt="各種健康診断">
                            </div>
                            <div class="txt">
                                各種健康診断
                            </div>
                        </li>
                    </ul>
                    <div class="c-list-btn">
                        <div class="c-btn1 c-btn1--bdr">
                            <a href="greeting.html#byGreePolicy">
                                <span>
                                    診療方針
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
                                        <path id="Icon_metro-arrow-right" data-name="Icon metro-arrow-right" d="M13.206,17.491l5-5a1,1,0,0,0,0-1.414l-5-5a1,1,0,0,0-1.414,1.414l3.293,3.293H5.5a1,1,0,0,0,0,2h9.586l-3.293,3.293a1,1,0,0,0,1.414,1.414Z" transform="translate(-4.499 -5.784)" fill="#8cb80c"/>
                                    </svg>                                 
                                </span>
                            </a>
                        </div>
                        <div class="c-btn1 c-btn1--bdr">
                            <a href="info.html">
                                <span>
                                    診療内容
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
                                        <path id="Icon_metro-arrow-right" data-name="Icon metro-arrow-right" d="M13.206,17.491l5-5a1,1,0,0,0,0-1.414l-5-5a1,1,0,0,0-1.414,1.414l3.293,3.293H5.5a1,1,0,0,0,0,2h9.586l-3.293,3.293a1,1,0,0,0,1.414,1.414Z" transform="translate(-4.499 -5.784)" fill="#8cb80c"/>
                                    </svg>                                 
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="block1">
                        <div class="label1">
                            <span>受診するかお悩みの方へ</span>
                        </div>
                        <div class="c-ttl2 c-ttl2--fz2">
                            こんなときは、<br class="sp-only">
                            ミワ内科クリニックへ<br class="sp-only">
                            ご相談ください
                        </div>
                        <ul class="c-list3">
                            <li>咳が出る</li>
                            <li>熱がある</li>
                            <li>お腹の調子が悪い</li>
                            <li>鼻水がとまらない</li>
                            <li>じんましんが出た</li>
                            <li>喘息がある</li>
                            <li>めまいがする</li>
                            <li>胸やけがする</li>
                            <li>夜眠れない</li>
                            <li>血圧が高い</li>
                            <li>急に体重が<br class="sp-only">増えた / 減った</li>
                            <li>体がだるい</li>
                            <li>突然胸が痛くなる</li>
                            <li>胸に不快感がある</li>
                            <li>足がはれる、むくむ</li>
                            <li>疲れやすい</li>
                            <li>脈が速い、遅い、<br class="sp-only">とぎれる</li>
                            <li>息切れがする、<br class="sp-only">息苦しい</li>
                            <li>食欲がない</li>
                            <li>健診で異常があった</li>
                        </ul>
                        <div class="c-banner">
                            <a href="https://ubie.app/institutions/8caf77ff-f699-445a-a575-4481ba6df1b5/dedicated-inquiry" target="_blank">
                                <img src="assets/img/top/banner1.jpg" alt="当院を受診するかお悩みの方へ" class="pc-only">
                                <img src="assets/img/top/banner1-sp.jpg" alt="当院を受診するかお悩みの方へ" class="sp-only">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="p-top3" id="byInfectious">
                <div class="l-container">
                    <div class="p-top3__ttl">
                        新型コロナウイルス<br class="sp-only">感染症対策について
                    </div>
                    <p class="c-text1 medium">
                        当院では、皆様に安心して来院・受診していただけるよう、定時・適時にアルコールでの拭き取り消毒、換気を行っております。また来院される方には以下のご協力をお願いいたします。
                    </p>
                    <div class="c-box1">
                        <div class="c-box1__inner">
                            <div class="c-box1__ttl">
                                来院される皆様へのお願い
                            </div>
                            <ul class="c-list4">
                                <li>
                                    <div class="icon">
                                        <img src="assets/img/top/icon7.svg" alt="検温">
                                    </div>
                                    <div class="txt">
                                        検温
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="assets/img/top/icon8.svg" alt="不織布マスク着用">
                                    </div>
                                    <div class="txt">
                                        不織布<br class="sp-only">マスク<br class="pc-only">着用
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="assets/img/top/icon9.svg" alt="手指の消毒">
                                    </div>
                                    <div class="txt">
                                        手指の<br class="sp-only">消毒
                                    </div>
                                </li>
                            </ul>
                            <div class="label">
                                ご予約のない患者様には、事前に電話してからの受診をお願いいたします。
                            </div>
                            <p class="c-text1">
                                診察を希望される以下の状況の方は、<b>ガウン・手袋・フェイスマスク着用での診察</b> 又は、<b>電話にて対応</b>させて頂く場合があります。
                            </p>
                            <ul class="c-list5">
                                <li>のどの痛み・咳・鼻水がある</li>
                                <li>体のだるさ・下痢・微熱がある</li>
                                <li>上記症状に加えて、頭痛・関節痛・吐気など軽いかぜの諸症状が続いている（４日以上）</li>
                                <li>濃厚接触者と接触があった</li>
                                <li>国外からの帰国後７日以内である</li>
                            </ul>
                            <p class="c-text1">
                                患者様には、ご迷惑をお掛け致しますが何卒ご理解とご協力をお願いいたします。
                            </p>    
                        </div>
                    </div>
                    <div class="c-box2">
                        <p class="c-text1">
                            新型コロナウイルス感染が疑われる以下の症状の方は、診療・検査登録医療機関の発熱外来へ電話連絡しご相談ください。
                        </p>
                        <ul class="c-list5 c-list5--mode2">
                            <li>高熱がある・熱があった（37.5度以上）
                            </li>
                            <li>強い咽の痛みがある・息苦しさがある
                            </li>
                            <li>異常なだるさがある・強い頭痛がある</li>
                            <li>味・臭いの異常がある</li>
                            <li>感染者と接触があった（無症状でも）</li>
                        </ul>
                        <div class="box">
                            <div class="ttl">
                                <a href="https://www.pref.toyama.jp/120507/kurashi/soudanshisetsu/madoguchi/kenkouiryou/kj00021473.html" target="_blank">
                                    富山県ホームページ：<br class="sp-only">発熱等の症状のある方へ
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <a href="https://www.pref.toyama.jp/documents/2782/shinryokensairyokikanitiran22-6-20.xlsx" target="_blank">
                                        診療・検査医療機関一覧表
                                    </a>
                                </li>
                                <li>
                                    県受診・相談センター： <a href="tel:076-444-4691" class="tel">TEL 076-444-4691</a> （24時間対応）
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!--▲ Content are ▲-->
        

<%- include('inc/_footer'); %>

