<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<div class="l-wrapper__content">
    <main class="p-news">
        <section class="c-mv1">
            <div class="l-container">
                <h2 class="c-ttl1">
                    お知らせ
                </h2>
            </div>
        </section>
        <div class="c-breadcrumb">
            <ol>
                <li>
                    <a href="./">
                        <span>HOME</span>
                    </a>
                </li>
                <li>
                    <p>
                        <span>お知らせ</span>
                    </p>
                </li>
            </ol>
        </div>
    
        <section class="p-news__main">
            <div class="l-content">
                <div class="c-sort">
                    <div class="c-sort__btn is-active">
                        <a href="./news">
                            すべて
                        </a>
                    </div>
                    <div class="c-sort__choose">
                        <span>カテゴリ：</span>
                        <div class="select">
                            <select>
                                <option value="">選択してください</option>
                                <option value="">選択してください1</option>
                                <option value="">選択してください2</option>
                            </select>
                        </div>
                    </div>
                    <div class="c-sort__choose">
                        <span>年：</span>
                        <div class="select">
                            <select>
                                <option value="">選択してください</option>
                                <option value="">2021</option>
                                <option value="">2020</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="c-listnews c-listnews--mode">
                    <ul>
                        <li>
                            <div class="item">
                                <div class="timeCat">
                                    <span class="green">
                                        休診案内
                                    </span>
                                    <time datetime="2022.00.0">
                                        2022.00.0
                                    </time>
                                </div>
                                <div class="expand">
                                    7月1日（金）都合により休診いたします。
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="timeCat">
                                    <span class="persian-green">
                                        お知らせ
                                    </span>
                                    <time datetime="2022.00.0">
                                        2022.00.0
                                    </time>
                                </div>
                                <div class="expand">
                                    診療時間変更のお知らせ<br>
                                    インフルエンザワクチン集団接種出張のため、<br>
                                    12月１日（水） 午後診  16時30分開始となります。
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="timeCat">
                                    <span class="green">
                                        休診案内
                                    </span>
                                    <time datetime="2022.00.0">
                                        2022.00.0
                                    </time>
                                </div>
                                <div class="expand">
                                    日本疲労学会出席のため、6月10日（金）午後と11日（土） 休診致します。
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="timeCat">
                                    <span class="green">
                                        休診案内
                                    </span>
                                    <time datetime="2022.00.0">
                                        2022.00.0
                                    </time>
                                </div>
                                <div class="expand">
                                    日本循環器学会出席のため、 ３月１１日（金）、3月12日（土）　休診致します。
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="timeCat">
                                    <span class="green">
                                        休診案内
                                    </span>
                                    <time datetime="2022.00.0">
                                        2022.00.0
                                    </time>
                                </div>
                                <div class="expand temp">
                                    □□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□●
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="timeCat">
                                    <span class="green">
                                        休診案内
                                    </span>
                                    <time datetime="2022.00.0">
                                        2022.00.0
                                    </time>
                                </div>
                                <div class="expand temp">
                                    □□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□●
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="timeCat">
                                    <span class="green">
                                        休診案内
                                    </span>
                                    <time datetime="2022.00.0">
                                        2022.00.0
                                    </time>
                                </div>
                                <div class="expand temp">
                                    □□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□●
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <!--▲ Content are ▲-->
<%- include('inc/_footer'); %>